.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.item {
    border: 2px solid black;
    background-color: rgb(1, 186, 199);
    color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    color: rgb(206, 18, 193);
}

body {
    background-image: url('/imagenes/108760_bolas_bote_bullpadel_train_465464_1000x1000_3_9a66.webp');
    width: auto;
    height: auto;
    font-family: Arial, sans-serif;
    background-size: auto;
}

.registro {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.label{
    color: beige;
}