body{
    background-image:url("/imagenes/Galan-y-Lebron.png");
}
h1{
    text-align: center;
    text-decoration: solid;
}
img{
    color: white;
}
.container {
    display: flex;
    flex-wrap: wrap; 
    background-color: #BF36FF;
    justify-content: space-between;
}