<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio FULL-PÁDEL</title>
    <link rel="stylesheet" href="/src/css/home.css">
</head>
<body>
    <header>
            <div class="container">
                <a href="/products"><img src="/img/shopping-cart-svgrepo-com.svg" width="30" alt="30"></a>
                <img src="/img/list-svgrepo-com.svg" alt="30" width="30">
                    <h1>FULL-PÁDEL</h1>
                <a href="/register"><div class="login"><img src="/img/user-svgrepo-com.svg" alt="30" width="30"></a>
                <a href="/login"><div class="login"><img src="/img/login-button-svgrepo-com.svg" alt="30" width="30"></a>
            </div>
    </header>
    <footer>
        <div class="container1">
            <a href="https://www.tiktok.com/@full_padel_"><img src="/img/tiktok-svgrepo-com.svg" width="30" alt="30"></a>
            <a href="https://www.instagram.com/full_.padel_/"><img src="/img/instagram-svgrepo-com.svg" alt="50" width="50"></a>
            <a href="mailto:fullpadel880@gmail.com"><img src="/img/mail-svgrepo-com.svg" alt="35" width="35"></a>
            <a href="https://web.whatsapp.com/"><img src="/img/whatsapp-128-svgrepo-com.svg" alt="30" width="30"></a>
            <img src="/img/Logo.png" alt="30" width="60">
        </div>
    </footer>
</body>
</html>