<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>specificcontent</title>
    <link rel="stylesheet" href="../css/pala1.css">
    <script type="text/javascript" src="../javascript/specificcontent.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <a href="/src/views/products.ejs"><img src="/img/shopping-cart-svgrepo-com.svg" width="30" alt="30"></a>
            <img src="/img/list-svgrepo-com.svg" alt="30" width="30">
                <h1>FULL-PÁDEL</h1>
            <a href="/src/views/register.ejs"><div class="login"><img src="/img/user-svgrepo-com.svg" alt="30" width="30"></a>
            <a href="/src/views/login.ejs"><div class="login"><img src="/img/login-button-svgrepo-com.svg" alt="30" width="30"></a>
        </div>
    </header>
    <div class="product">
        <h3>Adidas Metalbone Youth 3.1 Rojo</h3>
        <img src="/src/img/palas/617XFQab+dL._AC_SX569_.jpg" height="520" width="240">
        <br>
        <p>Precio:115€</p>
        <br>
        <div>
            <img src="/src/img/add-to-cart-svgrepo-com.svg" alt="20" width="40">
            <img src="/src/img/like-svgrepo-com.svg" alt="40" width="40">
            <img src="/src/img/dislike-svgrepo-com.svg" alt="40" width="40">
        </div>
    </div>
    <div class="texto">
        <a>
            Tamaño: Talla única
            <br>
            Marca: Adidas
            <br>
            Tamaño de la empuñadura: Medio
            <br>
            Material: Plástico reforzado con vidrio
            <br>
            Nivel de habilidad: Principiante
         </a>
    </div>

    <footer>
    <div class="container1">
        <a href="https://www.tiktok.com/@full_padel_"><img src="/src/img/tiktok-svgrepo-com.svg" width="30" alt="30"></a>
        <a href="https://www.instagram.com/full_.padel_/"><img src="/src/img/instagram-svgrepo-com.svg" alt="50" width="50"></a>
        <a href="mailto:fullpadel880@gmail.com"><img src="/src/img/mail-svgrepo-com.svg" alt="35" width="35"></a>
        <a href="https://web.whatsapp.com/"><img src="/src/img/whatsapp-128-svgrepo-com.svg" alt="30" width="30"></a>
        <img src="/src/img/Logo.png" alt="30" width="60">
    </div>
</footer>
</body>
</html>