<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../css/products.css">
    <script type="text/javascript" src="../javascript/products.js"></script>
</head>
    <body>
        <header>
            <div class="container">
                <a href="/views/products.ejs"><img src="/src/img/shopping-cart-svgrepo-com.svg" width="30" alt="30"></a> 
                <a href="/views/list.ejs"><img src="/img/list-svgrepo-com.svg" alt="30" width="30"></a>
                        <h1>FULL-PÁDEL</h1>
                <a href="/views/register.ejs"><div class="login">
                <img src="/img/user-svgrepo-com.svg" alt="30" width="30">
                <a href="/views/login.ejs"><div class="login"> 
                <img src="/img/login-button-svgrepo-com.svg" alt="30" width="30"></a> </div>
        </header>
        <footer>    
            <h1>PALAS</h1>
            <h2>ADIDAS</h2>
            <div class="product">
                <h3>Adidas Metalbone Youth 3.1 Rojo</h3>
                <img src="/img/palas/617XFQab+dL._AC_SX569_.jpg" alt="60" width="240">
                <a>
                    Tamaño: Talla única
                    Marca: Adidas
                    Tamaño de la empuñadura: Medio
                    Material: Plástico reforzado con vidrio
                    Nivel de habilidad: Principiante </a>
            </div>
            <div class="product">
                <h3>Raqueta de pádel de la Serie Metalbone</h3>
                <img src="/img/palas/61wWIsYA4tL._AC_SX569_.jpg" alt="60" width="240">
                <a>
                    Tamaño: Talla única
                    Marca: Adidas
                    Material: Caucho
                    Nivel de habilidad: Profesional
                    Material del marco: Tubular de carbono</a>
            </div>
            <div class="product">
                <h3>Adidas Metalbone HRD+ 2024</h3>
                <img src="/img/palas/61nFBoL3TzL._AC_SX569_.jpg" alt="60" width="240">
                <a> 
                    Tamaño: Talla única
                    Marca: Adidas
                    Tamaño de la empuñadura: Única
                    Material: Caucho
                    Nivel de habilidad: Profesional</a>
            </div>
            <h2>BULLPADEL</h2>
            <div class="product">
                <h3>Bullpadel Raider PWR</h3>
                <img src="/img/palas/51JcqmGmyhL._AC_SX569_.jpg" alt="60" width="240">
                <a> 
                    Tamaño: Única
                    Marca: Bullpadel
                    Tamaño de la empuñadura: Única
                    Material: Compuesto
                    Nivel de habilidad: Profesional</a>
            </div>
            <div class="product">
                <h3>Bullpadel Vertex 02 X Red 2023</h3>
                <img src="/img/palas/41SvvhUaM8L._AC_SX569_.jpg" alt="60" width="240">
                <a> 
                    Marca: Bullpadel
                    Material: Fibra de carbono
                    Nivel de habilidad: Profesional
                    Material del marco: Carbono
                    Material de la varilla: Fibra de carbono</a>
            </div>
            <div class="product">
                <h3>Bullpadel Hack 03 Comfort 23</h3>
                <img src="/img/palas/61pWWel8+ML._AC_SY300_SX300_.jpg" alt="60" width="240">
                <a> 
                    Tamaño: Única
                    Marca: Bullpadel
                    Tamaño de la empuñadura: 5
                    Material: Compuesto
                    Nivel de habilidad: Intermedio</a>
            </div>
            <h2>NOX</h2>
            <div class="product">
                <h3>NOX At10 Genius 18k Agustin Tapia 2024</h3>
                <img src="/img/palas/71W8S7vz1nL._AC_SX569_.jpg" alt="60" width="240">
                <a> 
                    Tamaño: Talla única
                    Marca: NOX
                    Tamaño de la empuñadura: Única
                    Material: Aluminio
                    Nivel de habilidad: Avanzado</a>
            </div>
            <div class="product">
                <h3>Nox Tempo WPT Luxury Series 2022</h3>
                <img src="/img/palas/5181WJtwzcL._AC_.jpg" alt="60" width="240">
                <a> 
                    Marca: NOX
                    Tamaño de la empuñadura: Pequeña
                    Material: Acero aleado
                    Nivel de habilidad: Avanzado
                    Material de la varilla: Fibra de carbono</a>
            </div>
            <div class="product">
                <h3>NOX Pala de Padel Rush - Exclusive</h3>
                <img src="/img/palas/91z5RVFpXAL._AC_SX569_.jpg" alt="60" width="240">
                <a> 
                    Tamaño: Estandar
                    Marca: NOX
                    Tamaño de la empuñadura: 4 1/2 inches
                    Material: Fibra de carbono
                    Nivel de habilidad: Intermedio
                    Material del marco: Carbono</a>
            </div>
            <div class="container1">
                <a href="https://www.tiktok.com/@full_padel_"><img src="img/tiktok-svgrepo-com.svg" width="30" alt="30"></a>
                <a href="https://www.instagram.com/full_.padel_/"><img src="/img/instagram-svgrepo-com.svg" alt="50" width="50"></a>
                <a href="mailto:fullpadel880@gmail.com"><img src="/img/mail-svgrepo-com.svg" alt="35" width="35"></a>
                <a href="https://web.whatsapp.com/"><img src="/img/whatsapp-128-svgrepo-com.svg" alt="30" width="30"></a>
                <img src="/img/Logo.png" alt="30" width="60">
            </div>
        </footer>
    </body>
</html>