<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../css/products.css">
    <script type="text/javascript" src="../javascript/products.js"></script>
</head>
    <body>
        <header>
            <div class="container">
                <a href="/src/views/products.ejs"><img src="/src/img/shopping-cart-svgrepo-com.svg" width="30" alt="30"></a> 
                <img src="/src/img/list-svgrepo-com.svg" alt="30" width="30">
                        <h1>FULL-PÁDEL</h1>
                <a href="/src/views/register.ejs"><div class="login">
                <img src="/src/img/user-svgrepo-com.svg" alt="30" width="30">
                <a href="/src/views/login.ejs"><div class="login"> 
                <img src="/src/img/login-button-svgrepo-com.svg" alt="30" width="30"></a> </div>
        </header>
        <footer>    
            <h1>PALAS</h1>
            <h2>ADIDAS</h2>
            <div class="product">
                <h3>Adidas Metalbone Youth 3.1 Rojo</h3>
                <img src="/src/img/palas/617XFQab+dL._AC_SX569_.jpg" alt="" width="">
                <a>
                    Tamaño: Talla única
                    Marca: Adidas
                    Tamaño de la empuñadura: Medio
                    Material: Plástico reforzado con vidrio
                    Nivel de habilidad: Principiante </a>
            </div>
            <div class="product">
                <h3>Raqueta de pádel de la Serie Metalbone</h3>
                <img src="/src/img/palas/61wWIsYA4tL._AC_SX569_.jpg" alt="" width="">
                <a>
                    Tamaño: Talla única
                    Marca: Adidas
                    Material: Caucho
                    Nivel de habilidad: Profesional
                    Material del marco: Tubular de carbono</a>
            </div>
            <div class="product">
                <h3>Adidas Metalbone HRD+ 2024</h3>
                <img src="/src/img/palas/61wWIsYA4tL._AC_SX569_.jpg" alt="" width="">
                <a> 
                    Tamaño: Talla única
                    Marca: Adidas
                    Tamaño de la empuñadura: Única
                    Material: Caucho
                    Nivel de habilidad: Profesional</a>
            </div>
            <div class="container1">
                <a href="https://www.tiktok.com/@full_padel_"><img src="/src/img/tiktok-svgrepo-com.svg" width="30" alt="30"></a>
                <a href="https://www.instagram.com/full_.padel_/"><img src="/src/img/instagram-svgrepo-com.svg" alt="50" width="50"></a>
                <a href="mailto:fullpadel880@gmail.com"><img src="/src/img/mail-svgrepo-com.svg" alt="35" width="35"></a>
                <a href="https://web.whatsapp.com/"><img src="/src/img/whatsapp-128-svgrepo-com.svg" alt="30" width="30"></a>
                <img src="/src/img/Logo.png" alt="30" width="60">
            </div>
        </footer>
    </body>
</html>